@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  body {
    @apply flex min-h-screen flex-col font-mono;
  }
  ::selection {
    @apply text-main-white bg-main-highlight;
  }
  section,
  footer {
    @apply mx-auto max-w-5xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-main-base-light
    prose-h3:italic prose-p:!text-main-base
    prose-a:!text-main-base prose-a:!decoration-dashed
    prose-a:underline-offset-8 hover:prose-a:text-main-base
    prose-blockquote:border-opacity-50
    prose-blockquote:opacity-80 prose-figcaption:!text-main-base
    prose-figcaption:opacity-70 prose-strong:!text-main-base prose-code:rounded 
    prose-code:bg-main-base prose-code:bg-opacity-75
    prose-code:p-1 prose-code:!text-main-base 
    prose-code:before:!content-[''] prose-code:after:!content-[''] prose-pre:!text-main-base
    prose-ol:!text-main-base prose-ul:overflow-x-clip
    prose-ul:!text-main-base prose-li:marker:!text-main-base 
    prose-table:text-main-base prose-th:border;
  }
  .prose a {
    @apply hover:!text-main-base;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer text-main-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
  }
}
