---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
---

<div>
  <div class="flex flex-wrap items-center justify-center">
    {
      SOCIALS.map(social => (
        <LinkButton
          href={social.href}
          className="text-main-accent py-2 pl-4"
          title={social.linkTitle}
          newTab
        >
          <Fragment set:html={socialIcons[social.name]} />
        </LinkButton>
      ))
    }
  </div>

  <div class="mt-1 text-xs">daniel.agg@outlook.com</div>
</div>
