---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
---

<Breadcrumbs />
<main id="main-content" class="bg-main-base text-main-base">
  <h1>{pageTitle}</h1>
  <p>{pageDesc}</p>
  <slot />
</main>
